/* line 6, app/assets/stylesheets/products.scss */
* {
  font-family: Roboto,Arial,sans-serif;
}

/* line 11, app/assets/stylesheets/products.scss */
.star {
  visibility: hidden;
  font-size: 33px;
  cursor: pointer;
  color: orange;
  margin-right: 5px;
}

/* line 18, app/assets/stylesheets/products.scss */
.star:before {
  content: "\2606";
  visibility: visible;
  color: gray;
}

/* line 23, app/assets/stylesheets/products.scss */
.star:checked:before {
  content: "\2605";
  color: orange;
}

/* line 29, app/assets/stylesheets/products.scss */
.quantity {
  position: relative;
  bottom: 12px;
}
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&family=Roboto:wght@100;300&display=swap");
/* line 6, app/assets/stylesheets/store.scss */
.kart {
  font-size: 25px;
}

/* line 9, app/assets/stylesheets/store.scss */
.wish {
  font-size: 25px;
  color: red;
}

/* line 14, app/assets/stylesheets/store.scss */
.heart span {
  font-size: 15px;
  color: black;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* line 25, app/assets/stylesheets/store.scss */
.heart:hover span {
  color: black;
  top: 120px;
  opacity: 1;
  pointer-events: auto;
  color: white;
}

/* line 35, app/assets/stylesheets/store.scss */
.card-text .fav {
  font-size: larger;
}

/* line 39, app/assets/stylesheets/store.scss */
.card-text .view {
  font-family: sans-serif;
  font-size: larger;
}

/* line 45, app/assets/stylesheets/store.scss */
.text {
  outline-color: blue;
}

/* line 50, app/assets/stylesheets/store.scss */
summary {
  font-size: 14px;
  font-weight: 600;
  font-family: Roboto,Arial, Helvetica, sans-serif;
}

/* line 57, app/assets/stylesheets/store.scss */
.car {
  font-weight: bold;
  font-size: 18.7px;
}

/* line 62, app/assets/stylesheets/store.scss */
.car1 {
  font-weight: bold;
  font-size: 15.7px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */




@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&family=Roboto:wght@100;300&display=swap');
