// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&family=Roboto:wght@100;300&display=swap');

.kart{
    font-size: 25px;
}
.wish{
    font-size: 25px;
    color: red;
}

.heart span {
    font-size: 15px;
    color: black;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.heart:hover span{
    color: black;

    top: 120px;
    opacity: 1;
    pointer-events: auto;
    color: white;

}

.card-text .fav{
    font-size: larger;
}

.card-text .view{
    font-family: sans-serif;
    font-size: larger;
}


.text{
    outline-color: blue;
}


summary{
    font-size: 14px;
    font-weight: 600;
    font-family: Roboto,Arial, Helvetica, sans-serif;
    
}

.car{
font-weight: bold;
font-size: 18.7px;
}

.car1{
    font-weight: bold;
    font-size: 15.7px;
    }
    
    