<footer class="text-center mx-md-1 mx-5 p-2 mt-5 " style="background-color: gray; ">



    <div class="row my-5 ">
        <div class="col-md-5 ms-4 ">
            <a class="nav-item me-5 text-dark text-decoration-none col-md-12" href="/">
                <h4 class="text-start">BUY KART</h4>
            </a>
            <p class="text-start col-md me-md-0 me-5">This website that allows people to buy and sell physical goods. Through an e-commerce website, a business can
                process orders, accept payments, manage shipping and logistics, and provide customer service. </p>
        </div>

        <div class="col-md-2  col-5 ms-sm-0 ms-3 ">
            <h4>PRODUCTS</h4>
            <small>MENS WEAR</small><br>
            <small>WOMENS WEAR</small><br>
            <small>KIDS WEAR</small>
        </div>

        <div class="col-md-2 text-start ms-sm-5 ms-4 mt-sm-0 mt-3">
            <h4>CONTACT</h4>
            <small ><i class="bi bi-house-fill fs-5"></i> &nbsp&nbspKoyambedu, Chennai-600092</small><br>
            <small ><i class="bi bi-envelope-fill fs-5"></i> &nbsp&nbsphasanmusaraf786@gmail.com</small><br>
            <small ><i class="bi bi-telephone-fill fs-5"></i> &nbsp&nbsp+91 9080641773</small>
        </div>

        <div class="col-md mt-sm-0 mt-5 ">
            <h4>FOLLOW US</h4>
            <div class="">
                    <a href="https://www.facebook.com/sam.hasan.167189/"><i class="text-dark me-2 bi bi-facebook fs-4"></i></a>
                    <a href="https://twitter.com/hasan82234406"><i class="text-dark me-2 bi bi-twitter fs-4"></i></a>
                    <a href="https://www.linkedin.com/in/mohamed-hasan-6994561b9"><i class="text-dark me-2 bi bi-linkedin fs-4"></i></a>
                    <a href="https://github.com/HasanMusaraf"><i class="text-dark me-2 bi bi-github fs-4"></i></a>

            </div>
        </div>


    </div>


<hr>
   <small >&copy copyright reserved by Musaraf</small> 

</footer>